*{

   margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{

   min-height: 100vh;
   margin-top: 30px;
}


.nav  ul{
width: 100%;
list-style: none;
display: flex;
justify-content: flex-end;



}

.nav li{

   height: 50px;
   padding: 0 30px;
}
 
.nav   a i{

   height: 100%;
  
 
}








.nav li a{

text-decoration: none;


}

.nav  {

   display: flex;
   align-items: center;

   padding: 0 100px;

   
  
}


 .fast{

 font-weight: 700;
 color: #252432;
  


  

 }

 


 
 .second{
color:#252432;
font-size: large;

 }

 .nav .fast li a{

color: aqua;


}

.third{

   color:#8987A1;
}




.header{

   display: flex;
 
}

.header-bottom-part1{

   margin-left:160px;
  
}

.header-bottom-part1  h1 p{

   margin-top: 50px;
}

.fast1{
   margin-top: 210px;

  font-size: larger;
  font-weight: 700;
  color: #000000;
  font-size: 70px;
  font-family:Noto Serif;

}





.fast2{
color: #E95A08;

}

.fast3{

   
  font-size: larger;
  font-weight: 700;
color: #E95A08;
  font-size: 70px;
  font-family:Noto Serif;
}

.fast4{

   color: gray;
   font-size: large;
}

.Fast {
  
   margin-bottom: 10px;
   
}




.header-bottom-part2{

   margin-top: 70px;
  
}

.fast5{
 

  font-size: larger;
  font-weight: 500;
  color: #E95A08;
  font-size: 50px;
  margin-top: 210px;
   font-family:Noto Serif;

}



.fast6{

  color: #000000;
}

.head{


   text-align: center;
}


.flower{

   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 20px;
  
}
 
.card img{

   width: 100%;
   margin-bottom: 40px;
}

.btn{
   background-color: #E95A08;
   padding-left: 65px;
   padding-right: 65px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #ffff;
   
  
}



.card p{

   margin-bottom: 30px;
   text-align: center;
   font-family: Inter;
}

.doller{

   font-size: 700;
}


.main{
display: flex;
margin-top: 100px;
margin-left: 150px;
margin-right: 50px;
}

.heading P{

  font-size: larger;
  font-weight: 500;
  color: #E95A08;
  font-size: 50px;

   font-family:Noto Serif;


}

.mainpart1{

   background-image:"IMAGES/deal-ana.png";
}


.main5{
 background-image: url("IMAGES/deal-ana.png");
  
}


.min{

   display: flex;
}

.container .min .row .max .mux{

background-color: #E95A08;
}



.footertop{

   background-image: url(IMAGES/news-letter-bg.png);
  margin-top: 150px;
}

.form{
   margin-left: 250px;
   margin-right: 250px;
   padding-left: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 100px;



}


.one{

   background-color: #fff;
   color: #000000;
   padding-left: 150px;
   padding-right: 150px;
  

}
.two {
background-color: #E95A08;
color: #fff;
padding-left: 100px;

   
   

}



 

   

.footertop{

height: 300px;
margin-left: 50px;

   background-image: url(IMAGES/news-letter-bg.png);
}


.headone{

   text-align: center;
  
}

.footerlast{

  display: grid;
   grid-template-columns:( 3, 1fr);
}
}



.footer{

   display: grid;
   grid-template-columns:( 3, 1fr);
}